*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec); 
    color: #1b1f23; 
    font-family: 'Helvetica Neue', Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 1%;
}

.logo {
    position: fixed;    
    top: 10px;
    right: 10px;
    width: 150px;
    border-radius: 100%;
}

h1{
    text-align: center;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

a:not(.card){
    text-decoration: none;
    color:rgb(53, 140, 253);
}

a:hover:not(.card){
    text-decoration: underline;
    color: darkslategray;
}

table {
    border: 2px solid #1b1f23; 
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #4a90e2; 
    color: white;
    padding: 12px;
    text-align: left;
    border-right: 2px solid white; 
    text-align: center;  } 


th:last-child {
    border-right: none;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; 
}


tbody tr:nth-child(even) {
    background-color: #f0f4f8; 
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}


.mail-info {
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    background-color: #ff8c42;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 15px;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.green { background: #2ecc71; }
.orange { background: #f39c12; }
.red { background: #e74c3c; }
.grey { background: #7f8c8d; }

.login form {
    width: 300px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

.login input, .login button {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

.error { color: red; }




